*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: black;

}
.main{
  height: fit-content;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
  background-color: rgb(33, 32, 32);
color: white;
padding: 10px;
border-radius: 8px;
}
.total-price{
 visibility:hidden;
}
.pro{
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5px;
  padding: 5px;

}

.prod{
  height: fit-content;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  flex-wrap: nowrap;
  border: 1px solid white;
}
